<div id="<%= dom_id pomodoro_task %>">
  <p>
    <strong>Pomodoro:</strong>
    <%= pomodoro_task.pomodoro_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= pomodoro_task.task_id %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= pomodoro_task.completed %>
  </p>

</div>
