<tr id="<%= dom_id task %>" class="table-danger">
  <th>
    <%= task.description %>
  </td>
  <th>
    <% task.pomodoro_tasks.where(completed: true).each do |_pomodoro| %>
      🍅
    <% end %>
  </td>
  <td>
    <div class="btn-group">
    <%= button_to "Edit", edit_task_path(task), method: :get, class: "btn btn-danger" %>
    <%= button_to "Delete", task, method: :delete, class: "btn btn-danger" %>
    </div>
  </td>
</tr>
