<div id="<%= dom_id pomodoro %>">
  <p>
    <strong>User:</strong>
    <%= pomodoro.user_id %>
  </p>

  <p>
    <strong>Focus time:</strong>
    <%= pomodoro.focus_time %>
  </p>

  <p>
    <strong>Break time:</strong>
    <%= pomodoro.break_time %>
  </p>

</div>
