<div id="<%= dom_id pomodoro %>">
  <% pomodoro.tasks.each do |task| %>
    <p>
      <strong><%= task.description %></strong>

    </p>
  <% end %>

  <p>
    <strong>Focus time:</strong>
    <%= pomodoro.focus_time %>
  </p>

  <p>
    <strong>Break time:</strong>
    <%= pomodoro.break_time %>
  </p>

</div>
