<br>
<h1>Pomodoros</h1>

<div>
  <%= render "form", pomodoro: Pomodoro.new(focus_time: 25, break_time: 5) %>
</div>

<br>

<div id="pomodoros">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Pomodoro</th>
        <th scope="col">Focus Time</th>
        <th scope="col">Break Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @pomodoros.each do |pomodoro| %>
        <%= render pomodoro %>
      <% end %>
    </tbody>
  </table>
</div>
