<head>
  <title>Landing Page</title>
</head>
<body>
  <div class="parent-container">
    <div class="text-container">

    <h1>Do You Have Problems with Procastination?</h1>
    <h1 style="color: red;">Try Pomodoro To-Do List Manager</h1>
<br>
      <p>Enhance your productivity and accomplish tasks with the Pomodoro To-Do List Manager. Users can create a to-do list, customize focus and break times, and track the number of Pomodoros completed for each task. The app includes a timer with a visual progress bar, pause and resume functionality, and notifications for task completion.</p>
      <br>
      <%= link_to "Sign Up Today!", new_user_registration_path, class: "btn btn-primary" %>
    </div>

    <div class="container-timer-image">
      <%= image_tag("timer.png", alt: "Timer") %>
    </div>

  </div>
  </div>

</body>
